<h2>Welcome, <%= @user.first_name.capitalize %>.</h2>

<% if @user.events.empty? %>
<h4>You currently have not registered interest in any upcoming events.</h4>
<h4>Please <a href="/events">visit the Events page</a> to find events you might enjoy.</h4>
<% else %>
<h3>Your Upcoming Events</h3>
<br>
<ul>
<% @user_events_by_date.each do |date, event_array| %>
<h4> <%= simplify_date(date) %> </h4>
<ul>
  <% event_array.each do |event| %>
  <li><h4><a href="/events/<%= event.id %>"><%= event.name %></a></h4></li>
  <ul>
    <li><%= "Organized by #{event.organizer}" %></li>
    <li><%= event.display_date_and_time %></li>
    <li><%= "Location: #{event.location}" %></li>
    <li><%= event.find_rsvp_by_user(current_user).badge %></li>
  </ul>
  <br>
  <% end %>
</ul>
<% end %>
</ul>
<% end %>
