<h2>Welcome, <%= @user.first_name.capitalize %>.</h2>

<% if @user.events.empty? %>
<h4>You currently have not registered interest in any upcoming events.</h4>
<h4>Please <a href="/events">visit the Events page</a> to find events you might enjoy.</h4>
<% else %>
<h3>Your Upcoming Events</h3>
<ul>
<% @user_events_by_date.each do |date, event_array| %>
<h4> <%= DateTime.parse(date).strftime("%A &#8212; %b %e") %> </h4>
<ul>
  <% event_array.each do |event| %>
  <li><h4><a href="/events/<%= event.id %>"><%= event.name %></a></h4></li>
  <ul>
    <li><%= "Organized by #{event.organizer}" %></li>
    <li><%= event.date_and_time.strftime("%H:%M:%S") == "00:00:00" ? "#{event.date_and_time.strftime("%A, %B %e")}" : "#{event.date_and_time.strftime("%A, %B %e -- %I:%M%p")}" %></li>
    <li><%= "Location: #{event.location}" %></li>
    <li>Your RSVP: <%= Rsvp.find_by(user_id: current_user.id, event_id: event.id).print_status %></li>
  </ul>
  <br>
  <% end %>
</ul>
<% end %>
</ul>
<% end %>
