<h1>Upcoming Events</h1>

<ul>
<% @events_by_date.each do |date, event_array| %>
<h2> <%= DateTime.parse(date).strftime("%A &#8212; %b %e") %> </h2>
<ul>
  <% event_array.each do |event| %>
  <li><h4><a href="/events/<%= event.id %>"><%= event.name %></a></h4></li>
  <ul>
    <li><%= "Organized by #{event.organizer}" %></li>
    <li><%= event.display_date_and_time %></li>
    <li><%= "Location: #{event.location}" %></li>
    <%= event.display_rsvps(current_user) %>
  </ul>
  <br>
  <% end %>
</ul>
<% end %>
</ul>
