<h1>Upcoming Events</h1>

<ul>
<% @events_by_date.each do |date, event_array| %>
<h2> <%= simplify_date(date) %> </h2>
<ul>
  <% event_array.each do |event| %>
  <li><h4><a id="index-link" href="/events/<%= event.id %>"><%= event.name %></a></h4></li>
  <ul>
    <%= event.display_organizer %>
    <li><%= event.display_date_and_time %></li>
    <li><%= "Located @ #{event.location}" %></li>
    <%= event.display_rsvps(current_user) %>
  </ul>
  <br>
  <% end %>
</ul>
<% end %>
</ul>
