<% if @no_event %>
<!-- This will happen if there is no event with the id supplied to the controller -->
<h1>Ruh-roh! We can't find any such event!</h1>
<h3><a href="/events">Click Here</a> to return to our index of upcoming events!</h3>
<% else %>
<!-- Otherwise, this will be the successful view -->
<h1><%= @event.name %></h1>
<h3><%= "#{@event.date_and_time.strftime("%A, %B %e -- %H:%M")} @ #{@event.location}" %></h3>
<h4><%= "Organized by #{@event.organizer}" %></h4>
<br>
<!-- Want to add some control logic so that if someone has already RSVPd for this event, it shows a different form -->
<% if current_user.events.include?(@event) %>
<% response = Rsvp.find_by(user_id: current_user.id, event_id: @event.id).status %>
<form action="/rsvps/<%= @event.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  You've successfully RSVP'd to this event!<br>
  Do you want to update your RSVP for this event?<br>
  <input type="radio" name="rsvp" value="accept" <%= "checked" if response == "accept" %>><span> I'm going!    </span>

  <input type="radio" name="rsvp" value="interested" <%= "checked" if response == "interested" %>><span> I'm interested.    </span>

  <input type="radio" name="rsvp" value="decline" <%= "checked" if response == "decline" %>><span> I can't make it.    </span>
  <input type="submit" value="Update my RSVP!">
</form>
<% else %>
<form action="/rsvps" method="post">
  <input type="hidden" id="hidden" name="event" value="<%= @event.id %>">
  RSVP: <button type="submit" name="rsvp" value="accept">I'm going!</button>

  <button type="submit" name="rsvp" value="interested">I'm interested.</button>

  <button type="submit" name="rsvp" value="decline">I can't make it.</button>
</form>
<% end %>

<br>
<p><%= @event.description %></p>
<% end %>
